<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title m-3">

        <h4 class="mt-3 mb-2">Listado de Jugadores</h4>
        <button type="button" class="btn btn-primary btn-lg" routerLink="/add-player">Agregar Jugador</button>

    </div>

    <table *ngIf="listPlayers.length > 0" class="table table-hover">
        <thead>
          <tr>
            <tr class="table-dark">
                <th scope="row">Nickname</th>
                <td>ID_jugador</td>
                <td>password</td>
                <td>id_juegos</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let player of listPlayers">
            <td  scope="row">{{player.nickname}}</td>
            <td>{{player.ID_jugador}}</td>
            <td>{{player.password}}</td>
            <td>{{player.id_juegos}}</td> 
            <td><button [routerLink]="['/edit-player', player.ID_jugador]" type="button" class="btn btn-success m-1">Editar</button>
                <button (click)="deletePlayer(player.ID_jugador!)" type="button" class="btn btn-danger m-1">Eliminar</button>
            </td>
          </tr>
          
        </tbody>
      </table>
      <h5 *ngIf="listPlayers.length == 0">Aun no hay ningun jugador insertado</h5>
</div>

