<div class="row justify-content-center">
    <div class="col-4">
        <div class="card text-white bg-dark mb-3 mt-3" style="max-width: 30rem;">
            <div class="card-header text-center">Agrega a un jugador nuevo</div>
            <div class="card-body">
                <form action="">
                    <input type="text" class="form-control rounded-1" placeholder="ingrese nombre del jugador">
                    <input type="text" class="form-control rounded-1 mt-2" placeholder="ingrese contraseña del jugador">
                    
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-primary">Aceptar</button>
                        </div>
                        <div class="col-lg-6">
                            <button routerLink="/players" type="button" class="btn btn-secondary">Regresar</button>
                        </div>
                    </div> 
                </form>
              
            </div>
          </div>
    </div>
</div>


